body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 84%;
    height: 85vh;
    background-color: black;
    display: grid;
    grid-template-columns: 28% 28% 28%;
}

.box1{
    border:1px solid blue;
    background-image: url(seul.jpg);
}
.box2{
    border:1px solid blue;
    background-image: url(tbilisi.jpg);
}
.box3{
    border:1px solid blue;
    background-image: url(new.jfif);
}

.box4{
    border:1px solid blue;
    background-image: url(paris.jfif);
}
.box5{
    border:1px solid blue;
    background-image: url(tokyo.jfif);
}
.box6{
    border:1px solid blue;
    background-image: url(dubai.jfif);
}
