/* 1 */

a:link{
    color:black;
}

a:hover{
    color:blue;
    text-decoration: underline;
}

a:active{
    color:purple;
}

a:visited{
    color:aqua;
}

/* 3 */

button{
    color:red;
    background-color: black;
    
}
button:hover{
    color:purple;
    text-decoration: underline;
}