.container1 {
    position:absolute;
    top:1px
}

.container2 {
    position:absolute;
    right:1px
}

.container3 {
    position:absolute;
    bottom:1px
}

.container4 {
    position:absolute;
    left:1px
}